#Used by subtree-pull.sh
# format: thisSubdir^gitUrl^gitBranch^gitSubdir
# thisSubdir is the path in the local directory to merge into
# gitUrl is the repo url of the remote repository
# gitBranch is the branch of the remote repository to use
# gitSubdir is the folder inside the remote repo to copy from
docs/myriax git@github.com:uwescience/myria.git add_myriax_doc docs
